if SHIELD_LETS14X4_LEFT

config ZMK_KEYBOARD_NAME
    default "lets14x4"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_LETS14X4_LEFT || SHIELD_LETS14X4_RIGHT

config ZMK_SPLIT
    default y

