#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0

/ {
    combos {
        compatible = "zmk,combos";

        winkey {
            bindings = <&sk LEFT_GUI>;
            key-positions = <28 29>;
        };

        enter {
            bindings = <&kp RET>;
            key-positions = <33 34>;
        };

        numlayer {
            bindings = <&to 1>;
            key-positions = <32 31>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
       &kp W     &kp E      &kp R       &kp T        &kp Y          &kp U     &kp I      &kp O
&kp Q  &kp S     &kp D      &kp F       &kp G        &kp H          &kp J     &kp K      &kp L    &kp P
&kp A  &kp X     &kp C      &kp V       &kp B        &kp N          &kp M     &kp COMMA  &kp DOT  &kp SEMI
&kp Z  &kp LALT  &kp LCTRL  &kp LSHIFT  &kp SPACE    &kp BACKSPACE  &kp LEFT  &kp DOWN   &kp UP   &kp FSLH
            >;
        };

        numbers {
            bindings = <
           &kp N1     &kp N2     &kp N3  &kp DOT      &trans  &trans  &trans  &trans
&kp MINUS  &kp N4     &kp N5     &kp N6  &kp COMMA    &trans  &trans  &trans  &trans  &trans
&kp EQUAL  &kp N7     &kp N8     &kp N9  &trans       &trans  &trans  &trans  &trans  &trans
&kp LALT   &kp LCTRL  &kp LSHFT  &kp N0  &to 0        &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
