#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0

/ {
    combos {
        compatible = "zmk,combos";

        winkey {
            bindings = <&sk LEFT_GUI>;
            key-positions = <28 29>;
        };

        enter {
            bindings = <&kp RET>;
            key-positions = <33 34>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
       &kp W     &kp E      &kp R       &kp T        &kp Y          &kp U     &kp I      &kp O
&kp Q  &kp S     &kp D      &kp F       &kp G        &kp H          &kp J     &kp K      &kp L    &kp P
&kp A  &kp X     &kp C      &kp V       &kp B        &kp N          &kp M     &kp COMMA  &kp DOT  &kp SEMI
&kp Z  &kp LALT  &kp LCTRL  &kp LSHIFT  &kp SPACE    &kp BACKSPACE  &kp LEFT  &kp DOWN   &kp UP   &kp FSLH
            >;
        };
    };
};
